{
    auto_https off
}

:80 {
    encode gzip

    handle /api/* {
        reverse_proxy backend:3000
    }

    handle_path /data/* {
        root * /data
        file_server
    }

    handle {
        root * /srv
        try_files {path} /200.html
        file_server
    }
}
