POSTGRES_USER=student
POSTGRES_PASSWORD=iiith
POSTGRES_DB=cwdb

DATABASE_URL=postgres://student:iiith@postgres:5432/cwdb
PORT=3000
RUST_LOG=info

ADMIN_EMAILS=you@example.com

# ocas
OCAS_URL=
OCAS_CLIENT_ID=
OCAS_CLIENT_SECRET=
OCAS_CALLBACK_URL=https://yourdomain.com/api/auth/callback
OCAS_AFTER_LOGIN=https://yourdomain.com
OCAS_AFTER_LOGOUT=https://yourdomain.com
OCAS_BLOCKLIST=true

# cas
CAS_SERVICE_URL=https://yourdomain.com/api/auth/callback
SESSION_SECRET=
