POSTGRES_USER=student
POSTGRES_PASSWORD=iiith
POSTGRES_DB=cwdb

DATABASE_URL=postgres://student:iiith@localhost:5433/cwdb

# meilisearch
MEILI_MASTER_KEY=masterKey
MEILI_HOST=http://localhost:7700

# rust
RUST_LOG=debug
PORT=3000

# microsoft entra id
MS_CLIENT_ID=your-client-id
MS_CLIENT_SECRET=your-client-secret
MS_REDIRECT_URI=http://localhost:3000/api/auth/callback
