DATABASE_URL=postgres://student:iiith@localhost:5433/cwdb

# meilisearch
MEILI_MASTER_KEY=Vx8ku1At4M
MEILI_HOST=http://localhost:7700

# rust
RUST_LOG=debug
PORT=3000

ADMIN_EMAILS=

# ocas
OCAS_URL=http://localhost:3143
OCAS_CLIENT_ID=
OCAS_CLIENT_SECRET=
OCAS_CALLBACK_URL=http://localhost:3000/api/auth/callback
OCAS_AFTER_LOGIN=http://localhost:5173
OCAS_AFTER_LOGOUT=http://localhost:5173
OCAS_BLOCKLIST=true
